* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	margin: 0
}

img {
	vertical-align: middle;
	-o-object-fit: cover;
	object-fit: cover
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

.container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
}

.content__title {
	margin: 0;
	margin-bottom: 45px;
	font-size: 45px;
}

.content__list {
	display: inline-block;
}

.content__item {
	margin-bottom: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 40px;
}

.content__input-controller {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 3px solid #333;
	border-radius: 5px;
	margin-right: 20px;
}

.content__item:nth-child(1)>.content__input:checked~.content__input-controller {
	background-image: url("../images/table-tennis.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
}

.content__item:nth-child(2)>.content__input:checked~.content__input-controller {
	background-image: url("../images/basketball-ball.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
}

.content__item:nth-child(3)>.content__input:checked~.content__input-controller {
	background-image: url("../images/volleyball-ball.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
}

.content__item:nth-child(4)>.content__input:checked~.content__input-controller {
	background-image: url("../images/hockey-puck.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
}

.content__input:disabled~.content__input-controller {
	opacity: 0.6
}

.content__input:focus~.content__input-controller {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.content__item:nth-child(4) {
	color: #a3a3a3;
}

.btn {
	display: inline-block;
	width: 220px;
	margin: 0 auto;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16) ;
	padding: 7px 6px;
	font-size: 25px;
}